# Get Started

After forking this notebook, run the code in the following cell:

In [ ]:
# import package with helper functions 
import bq_helper

# create a helper object for this dataset
accidents = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="nhtsa_traffic_fatalities")

In [ ]:
accidents.list_tables()

In [ ]:
accidents.table_schema('accident_2015')

Then write the code to answer the questions below

# Questions

#### 1) Which hours of the day do the most accidents occur during?
* Return a table showing how many accidents occurred in each hour of the day in 2015, sorted by the the number of accidents which occurred each hour. Use either the accident_2015 or accident_2016 table for this, and the timestamp_of_crash column (there is an hour_of_crash column, but if you use that one you won't get a chance to practice with dates).

**Hint:** You will probably want to use the [EXTRACT() function](https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#extract_1) for this.

In [ ]:
# Your Code Here
query = """
        SELECT COUNT(consecutive_number), EXTRACT(HOUR FROM timestamp_of_crash)
        FROM `bigquery-public-data.nhtsa_traffic_fatalities.accident_2016`
        GROUP BY EXTRACT(HOUR FROM timestamp_of_crash)
        ORDER BY COUNT(consecutive_number)
"""
accidents_by_hour = accidents.query_to_pandas_safe(query)
import matplotlib.pyplot as plt
plt.plot(accidents_by_hour.f0_)

plt.show()

#### 2) Which state has the most hit and runs?
* Return a table with the number of vehicles registered in each state that were involved in hit-and-run accidents, sorted by the number of hit and runs. Use either the vehicle_2015 or vehicle_2016 table for this, especially the registration_state_name and hit_and_run columns (it may be helpful to view the hit_and_run column to understand its contents).

In [ ]:
# Your Code Here
accidents.table_schema('vehicle_2016')

In [ ]:
query = """
        SELECT state_number, COUNT(hit_and_run)
        FROM `bigquery-public-data.nhtsa_traffic_fatalities.vehicle_2016`
        GROUP BY state_number
        ORDER BY COUNT(hit_and_run)
"""
hits = accidents.query_to_pandas_safe(query)
hits
plt.plot(hits.f0_)

plt.show()

---
# Keep Going
[Click here](https://www.kaggle.com/dansbecker/as-with) to learn how *WITH-AS* clauses  can clean up your code and help you construct more complex queries.

# Feedback
Bring any questions or feedback to the [Learn Discussion Forum](kaggle.com/learn-forum).

----

*This tutorial is part of the [SQL Series](https://www.kaggle.com/learn/sql) on Kaggle Learn.*